.card-design {
    text-align: center;
}
.card-main {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.card-grid {
    position: relative;
    flex: 0 0 auto;
    padding: 20px 20px;
    background-color: hsl(0, 0%, 98%);
    margin: 10px; 
    width: 40%;
    text-align: center;
    margin-top: 60px;
}

.card-grid p, h3 {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
}

.card-grid img {
    width: 20%;
    margin-top: -70px;
}

.btn-start {
    margin-top: 30px;
}

@media screen and (max-width: 991px) {
    .card-grid {
        width: 100%;
    }
}

